<h1 class="centered"><%= @family.name %></h1>

<%= link_to "Add Family Member", new_family_family_member_path(@family), class: 'btn btn-success' %>

<%= link_to "Add Parent", new_family_family_member_path(@family, :child_ids), class: 'btn btn-success' %>
<%= link_to "Add Child", new_family_family_member_path(@family, :parent_id), class: 'btn btn-success' %>

<%= link_to "View All Families", families_path, class: 'btn btn-success' %>
<div class="row">
   <div class="col-md-8 mt-md">
     <%= family_tree @family.family_members.arrange(order: :created_at) %>
   </div>
</div>
<div class="family-tree">
  <%= image_tag("tree.png", alt: "family tree", class: "pull-right") %>
</div>
